/* Styling for all buttons */
button {
    background-color: black; /* Green background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
/* Styling for all input boxes */
input[type="text"] {
    padding: 10px; /* Padding around the input text */
    border: 1px solid #ccc; /* Border around the input */
  }
  
  
     /* Style for the buttons */
   .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }

  .button:hover {
    background-color: #45a049;
  }

  /* Style for the file input */
  .file-input {
    display: none;
  }

  .file-label {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .file-label:hover {
    background-color: #45a049;
  }